Vidispot/DerivedData/Vidispot/Build/Products/Debug/Vidispot.app/Contents/Resources/videoplayer.png
Vidispot/DerivedData/Vidispot/Logs/Build/09A0B08C-90E7-406A-A11A-AD923527745B.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/0A115BE5-4856-4131-89C3-3912AD6A0530.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/0CC11393-5282-4F40-B27E-B814D8CE817E.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/0EC9E547-0158-42F1-94C6-4470F72152CA.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/1812B310-59D8-4D1D-95D3-BDB2D498126C.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/19D4C194-E0F4-4E0E-A2DD-2C69F9EEEE47.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/30AD0C3A-093A-4939-A7E3-9BE365F9D090.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/31408FEC-2D44-4498-9722-EFF8691DCDA6.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/4E3B5E70-F8C8-47CC-AE38-D7F3B72BDB69.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/69B4EEFD-D91D-44ED-8FEF-4C01E2D29442.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/69DC4F35-89A2-425C-8294-84EE8BC16724.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/7A678198-557B-443C-9696-C5F8E1CE46DE.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/8F602E7B-96C7-44C8-91CE-42EB1659A055.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/B1FE718A-AF7C-4984-9810-0FC8298888AA.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/B44C5476-488A-4FC1-9C47-36A66E7BFDC5.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/C6D9C138-D5BF-4844-B533-6CD88CE03E94.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/C85C3ABB-A755-4F86-B9C7-0C74509B1BD6.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/D4FBE15E-E213-492B-866B-7021A471B77D.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Build/F3916366-E11E-457D-BD03-1B22CB7205F1.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/090884FA-0A6F-491B-AF0C-A6EC4DDABCC7.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/0BB19E17-5F11-4C94-843A-7A586FB78F2C.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/28108AE8-51F4-414E-9922-D777E1E3AE0F.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/2987E108-9C66-44C2-912A-218950282E6A.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/2C6B1012-F762-4A12-8585-27578262322F.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/3A68AB9B-E736-4517-A6D1-216FBEE74715.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/44EA3CF7-AB0F-4138-9497-BD836F8174AC.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/560B6A26-6F46-4FCB-8162-D5C149FAD5B5.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/9863A6FF-B0C3-49CC-9BAF-EC27D590BB42.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/9DEE3E74-462C-4A88-8DF4-D330144A9AB5.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/9EC9D2B0-169B-4738-B653-85C6754ACE10.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/9F50A942-C564-4F62-B820-E32FEEE35F58.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/A1146734-03F0-4DE4-BF0C-6D855E4E121A.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/A266A7FA-10C7-44D4-9904-B46567F6FD34.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/B1A09E9E-D2ED-46AC-A2E4-40FDD89A4A30.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/BC3D5D4F-4EB9-4B6F-9D03-215037B7A896.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/D16D2485-F702-4C42-BE14-16481D005CE1.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/D7D5C440-EE87-4DC8-8D74-CE3CC5F0E11A.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/DB37E23A-D56B-48ED-B832-2F147AE6F9BA.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Debug/FBA504BE-69F1-4331-ABBF-B7F4DB62A903.xcactivitylog
Vidispot/DerivedData/Vidispot/Logs/Issues/AAC6A184-E4DC-4998-86E0-13DE4EFD341B.xcactivitylog
